.hidden {
	display: none;
}


/* THE NAVBAR */
nav {
	width: 100%;
	height: 90px;
	margin: 0;
	background-color: #6ec9ef;
}

.navCont {
	width: 960px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo {
	padding-top: 20px;
}

.logo h3 {
	width: 200px;
	font-family: 'Hind', sans-serif;
	font-weight: 700;
	font-size: 50px;
	color: #e51e46;
	text-shadow: 2px 2px 0 #ffffff;
}

.navmenu {
	float: right;
	height: 35px;
	padding-top: 30px;
}
.navmenu ul {
	list-style-type: none;
	padding: 0;
}

.navmenu ul li {
	color: #ffffff;
	font-size: 25px;
	font-family: 'Didact Gothic', sans-serif;
	display: inline;
	cursor: pointer;
	margin-left: 25px;
}

.navmenu ul li a {
	text-decoration: none;
	padding: 5px;
}

.navmenu ul li:hover {
	color: #e51e46;
}

/* PAGE DESCRIPTION */
.pageDesc {
	width: 720px;
	margin: 100px auto;
}

.pageDesc h3 {
	font-family: 'Hind', sans-serif;
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	color: #f48002;
	text-shadow: 2px 2px 0 #cc6600;
}

/* ICONS */

.iconSection {
	width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.iconSection2 {
	width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

/* INDIVIDUAL ICON */
.iconContainer {
	width: 310px;
	margin-bottom: 60px;
}

.iconDesc {
	padding-top: 10px;
}

h4.iconTitle {
	font-family: 'Hind', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #94b740;
	margin-top: 30px;
}

.iconDesc p {
	font-family: 'Didact Gothic', sans-serif;
	font-size: 18px;
	line-height: 1.3;
}

.displayDesc {
	display: block;
}

.icon {
	width: 300px;
	height: 300px;
	background-image: url('../images/background_1.svg');
}

.icon-hover {
	background-image: none;
	-webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
    border: 5px solid #e51e46;
    width: 290px;
    height: 290px;
	padding: 0;
	cursor: pointer;
}

.icon-click {
	background-image: none;
	-webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
    border: 5px solid #faae00;
    width: 290px;
    height: 290px;
	padding: 0;
	cursor: pointer;
}

.svg-icon {
	margin: 0 auto;
	display: block;
	filter: grayscale(100%);
}

.svg-icon-hover, .svg-icon-click {
	margin: 0 auto;
	width: 300px;
	height: 300px;
	display: block;
	filter: grayscale(0%);
}


/* FOOTER */
footer {
	width: 100%;
	height: 100px;
	background-color: #a96fda;
	padding-top: 30px;
}

.contact {
	width: 720px;
	margin: 0 auto;
}

.contact h5 {
	font-family: 'Didact Gothic', sans-serif;
	font-size: 20px;
	color: #fed1de;
	text-align: center;
}
.contact h4 {
	font-family: 'Hind', sans-serif;
	font-weight: 700;
	font-size: 36px;
	color: #ffffff;
	text-align: center;
	line-height: 1.4;
}

.contact a {
	color: #ffffff;
	text-decoration: none;
}

.contact a:hover {
	color: #000;
}

.copyright {
	width: 100%;
	margin: auto;
	padding-top: 10px;
}

.copyright span {
	font-family: 'Didact Gothic', sans-serif;
	font-size: 14px;
	color: #fff;
	text-align: center;
	display: block;
}